default: &default
  pool: 50
  template: 'template0'
  adapter: postgresql
  username: postgres
  password: postgres
  host: 'localhost'
  port: 5432
  timeout: 5000
  encoding: 'utf8'
  min_messages: WARNING

development:
  <<: *default
  database: istory_development

test:
  <<: *default
  database: istory_test%>

production:
  <<: *default
  database: istory_production
