<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%=
  link_to 'Confirm my account',
  "localhost:3001/confirmation?confirmation_token=#{@token}"
%></p>

<%# "#{ENV["front_base_url"]}/#{ENV["confirmation_url"]}?confirmation_token=#{@token}" %>
